.container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}
.write {
  color: #ffffff;
  margin-bottom: 15px;
}
.container h1 {
  top: 30%;
  font-size: 60px;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  left: 35%;
}
.container p {
  top: 47%;
  font-size: 18px;
  position: absolute;
  left: 27%;
  text-align: center;
  letter-spacing: 1px;
}
